body {
  margin: 0;
}

#game-display {
  background-color: rgb(215 215 215 / 0.7);
  height: 100vh;
  max-width: 15%;
  overflow: scroll;
  padding: 10px;
  position: absolute;
}

#game-display > div {
  display: flex;
  flex-direction: column;
}

table,
td {
  border: 1px solid #333;
}

.blur {
  filter: blur(3px);
}

.modal {
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  color: white;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

/* Sidebar */
.sidebar__button {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.sidebar__button:hover {
  cursor: pointer;
}

.sidebar__button > img {
  height: 18px;
  width: 18px;
}
