body {
  margin: 0;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#scene {
  position: absolute;
  right: 0;
  top: 0;
}

#scene > canvas {
  outline: 3px solid black;
}

table,
td {
  border: 1px solid #333;
}

.blur {
  filter: blur(3px);
}

.modal {
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  color: white;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}
